@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;600;700;800&display=swap");

body {
    background-color: #0f0930;
    font-family: "JetBrains Mono", monospace;
    color: rgb(196, 196, 196);
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}

#main-container {
    margin-bottom: 100px;
}

#about-section {
    margin-top: 100px;
}

.about-header {
    margin-bottom: 30px;
}

#name {
    color: #ffca2c;
}

#services-section {
    padding-top: 80px;
}

.services-header {
    margin-bottom: 30px;
}

#projects-section {
    padding-top: 80px;
}

.projects-header {
    margin-bottom: 30px;
}

#contact-section {
    padding-top: 100px;
}

@media screen and (max-width: 575px) {
    #about-section {
        font-size: 0.8rem;
    }

    #services-section {
        font-size: 0.8rem;
    }
    #projects-section {
        font-size: 1rem;
    }
    #copyright {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 576px) {
    #about-section {
        font-size: 1rem;
    }

    #services-section {
        font-size: 1rem;
    }
    #projects-section {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    #about-section {
        font-size: 1.2rem;
    }

    #services-section {
        font-size: 1rem;
    }
    #projects-section {
        font-size: 1rem;
    }
}
